@keyframes first {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: red; left:200px; top:200px;}
    75% {background-color: yellow; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}

div {
    border: 1rem solid red;
    border: 1rem solid white;
    box-shadow: 0 0 0 1.5rem limegreen;
    border-radius: 40% 40%;
    margin: 4rem;
    padding: 1rem;
    width: 100px;
    height: 100px;
    position: relative;

}

#animation1 {
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#container {
  width: 200px;
  height: 200px;
  position: relative;
  background: red;
  border-style: solid;
}

#animation2 {
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
  top: 0px;
  left: 0px;
    /*animation-timing-function: ease;*/
}

h4 {
    background-color: mistyrose;
    border-radius: 10px 100px / 120px;
    padding: 20px 10px;
    text-decoration: underline red;
}
