@keyframes first {
    0%   {background-color: hotpink; left:0px; top:0px;}
    25%  {background-color: gray; left:200px; top:0px;}
    50%  {background-color: hotpink; left:200px; top:200px;}
    75% {background-color: gray; left:0px; top:200px;}
    100% {background-color: hotpink; left:0px; top:0px;}
}

@keyframes second {
    0%   {background-color: deepskyblue; left:0px; top:0px;}
    25%  {background-color: yellow; left:100px; top:0px;}
    50%  {background-color: deepskyblue; left:100px; top:100px;}
    75% {background-color: yellow; left:0px; top:100px;}
    100% {background-color: deepskyblue; left:0px; top:0px;}
}

div {
    border: 1rem solid black;
    box-shadow: 0 0 0 1.5rem skyblue;
    border-radius: 55% 10%;
    margin: 4rem;
    padding: 1rem;
    width: 100px;
    height: 100px;
    position: relative;

}

#animation1 {
    animation-name: first;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#animation2 {
    animation-name: second;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease;
}

h4 {
    background-color: mistyrose;
    border-radius: 10px 100px / 120px;
    padding: 20px 10px;
    text-decoration: underline red;
}
