@keyframes first {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:200px;}
    50%  {left:200px; top:200px;}
    75% {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}

div {
    border-radius: 40% 40%;
    margin: 4rem;
    padding: 1rem;
    width: 100px;
    height: 100px;
    position: relative;

}

#animation1 {
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
    background-color: yellow;
    box-shadow: 0 0 0 1.5rem yellow;
    border: 2rem solid yellow;
    border-radius: 54% 7%;
    width: 20px;
    height: 50px;
}

#container {
    border: 1rem solid red;
    border: 1rem solid white;
    box-shadow: 0 0 0 1.5rem limegreen;
  width: 200px;
  height: 200px;
  position: relative;
  background: red;
  border-style: solid;
}

#animation2 {
    border: 1rem solid red;
    border: 1rem solid white;
    box-shadow: 0 0 0 1.5rem limegreen;
  width: 50px;
  height: 50px;
  position: 180%;
  background: red;
  top: 0px;
  left: 0px;
}

h4 {
    background-color: mistyrose;
    border-radius: 10px 100px / 120px;
    padding: 20px 10px;
    text-decoration: underline red;
}

h3 {
    background-color: skyblue;
    border-radius: 2px 200px / 50px;
    padding: 20px 10px;
    text-decoration: underline red;
}
